@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');  /* Google Font */

body{
    /* Text to be in the center of the page */
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;

    margin: 0;
    background-color: aquamarine;
    font-family: "Permanent Marker", cursive; 
}